{% extends "base.html" %}
{% load staticfiles %}


{% block js %}
<script src="{% static "js/employee.js" %}"></script>
{% endblock %}

{% block content %}
<!-- item_name, num_aval_units, unit_price, content, employee_id, type, date, company) -->

<label>item name:</label> <input type ="text" id="item_name" class="form-control">

<label>num avaliable units:</label> <input type ="text" id="num_aval_units" class="form-control">
<label>unit price:</label> <input type ="text" id="unit_price" class="form-control">
<label>content: </label> <input type ="text" id="content" class="form-control">
<label>type: </label> <input type ="text" id="type" class="form-control">
<label>company:</label> <input type ="text" id="company" class="form-control">

<!-- item name: <input type ="text" name="item_name"><br> -->

<button class="btn btn-default" type="create_advertisement" id="create-advertisement">Create Advertisement</button> 

<br>
<br>


<button class="btn btn-default" type="produce_list_of_all_items_advertised" id="produce-list-of-all-items-advertised">produce list of all items advertised</button> 
<table class="table" id = "advertisement-list" style="display:none;">
</table>
<br>

<button class="btn btn-default" type="generate_mailing_list" id="generate-mailing-list">Generate mailing list</button> 
<table class="table" id = "mailing-list" style="display:none;">
</table>
<br>
<br>
<button class="btn btn-default" type="getsalesreportbutton" onclick="getsalesreport" >Obtain a sales report for a particular month</button> 
<select name = "month"  class="form-control" style="max-width: 200px">
	<option value="1">jan</option>
	<option value="2">feb</option>
	<option value="3">march</option>
	<option value="4">april</option>
	<option value="5">may</option>
	<option value="6">june</option>
	<option value="7">july</option>
	<option value="8">august</option>
	<option value="9">september</option>
	<option value="10">october</option>
	<option value="11">november</option>
	<option value="12">december</option>
</select> 

<!-- <button type="bhidesalesreportbutton" onclick="hidesalesreport" >hide</button>  -->
<table border="1" id = "sales_table" style="display:none;">
</table>

<button class="btn btn-default" type="list_all_customers" id="list-all-customers">list all customers</button> 
<table class="table" id = "customer_table" style="display:none;">
</table>
<br><br><br><br><br><br>
<form method="post" action="../create_account/">
{% csrf_token %}
<!--  firstname VARCHAR(50), 
     lastname  VARCHAR(50), 
     password  CHAR(15), 
     gender    VARCHAR(1),
     address   VARCHAR(95), 
     city      VARCHAR(50), 
     state     VARCHAR(50), 
     zipcode   INT, 
     telephone VARCHAR(15), -->
username: <input type="text" name="username"><br>
email: <input type ="text" name="email"><br>
name: <input type="text" name="name"><br>
password: <input type ="text" name="password"><br>
gender:  <select name = "gender">
			  <option value="m">male</option>
			  <option value="f">female</option>
			  <option value="n">neutral</option>
			  <option value="d">dont ask</option>
		 </select> <br>
D.O.B. month/day/year: 
<select name = "month">
			  <option value="1">jan</option>
			  <option value="2">feb</option>
			  <option value="3">march</option>
			  <option value="4">april</option>
			  <option value="5">may</option>
			  <option value="6">june</option>
			  <option value="7">july</option>
			  <option value="8">august</option>
			  <option value="9">september</option>
			  <option value="10">october</option>
			  <option value="11">november</option>
			  <option value="12">december</option>
		 </select>
<input type ="text" name="employee_create" value="employee_create" style="display: none;">
<input type ="text" name="day">
<input type ="text" name="year"><br>
address: <input type ="text" name="address"><br>
city: <input type ="text" name="city"><br>
state: <input type ="text" name="state"><br>
zipcode: <input type ="text" name="zipcode"><br>
telephone: <input type ="text" name="telephone"><br>
Credit Card: <input type ="text" name="credit"><br>

<input type="submit" value="Submit">
</form>
{% endblock %}
