{% extends "base.html" %}
{% load staticfiles %}


{% block js %}
<script src="{% static "js/messages.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <h4>
            Conversations:
        </h4>
        <div class="btn-group-vertical" id="conversation-btns" role="group" aria-label="...">
            {% for key, conversation in conversations.items %}
            <button type="button" class="btn btn-default convo-name" aria-label="Left Align" value="{{ key }}">
                {{ conversation.0.convo_name }}
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <h4>Messages:</h4>
        <div id="messages">
        </div>
    </div>
</div>
{% endblock %}
