{% extends "base.html" %}
{% load staticfiles %}


{% block js %}
<script src="{% static "js/messages.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <h4>
            Conversations:
        </h4>
        <small>Send new message:</small>
          <input type="text" class="form-control" placeholder="Enter Friend's Name">
          <hr>
        <div class="btn-group-vertical" id="conversation-btns" role="group" aria-label="...">
            {% for key, conversation in conversations.items %}
            <button type="button" class="btn btn-default convo-name" aria-label="Left Align" value="{{ key }}" userID="{{ conversation.0.convo_id }}">
                {{ conversation.0.convo_name }}
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <h4>Messages:</h4>
        <div id="messages">
        </div>
        <div id="new-message">
           <div class="col-sm-10">
               <textarea class="form-control" id="message-box" type="text" placeholder="Compose new message..."></textarea>
           </div>
           <div class="col-sm-2">
               <button type="button" class="btn btn-default" id="message-send">Send</button>
        </div>
    </div>
</div>
{% endblock %}
