/* Custom styles for the site */
body {
    background-color: #fbfbfb;
}

/* Messages page */
#conversation-btns {
    width: 100%;
}
#conversation-btns button {
    width: 100%;
}
.message {
    background-color: #fff;
    border:1px solid #ddd;
}

#profile-sidebar {
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    border:1px solid #ddd;
}

#page-title {
    text-align: center;
}

#post-area {
    padding: 10px;
    background-color: #FDFDFD;
}

#post-box {
    width: 100%;
    resize: none;
}

#post-add {
    margin-top: 15px;
}

.comment-box {
    resize: none;
}

.comment-add {
    margin-top: 7px;
}

/* Profile Image */
.profile-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.profile-ratio {
    margin-top: 100%; /* 4:3 aspect ratio */
}
.profile-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EEEEEE;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
    border:1px solid #ddd;
}

.profile-image:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.profile-image img {
    vertical-align: middle;
    display: inline-block;
}

/* Commenting CSS */

.test {
    display: none;
}
footer {
    padding-top: 50px;
    text-align: center;
}

.detailBox {
    border:1px solid #ddd;
    margin-top:10px; 
    margin-left:3%;
    margin-right:3%;
    background-color: #fff;
}
.titleBox {
    background-color:#f9f9f9;
    padding:10px;
    line-height: 2;
}
.titleBox label{
  color: #11a5e0;
  /*color:#444;*/
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #ddd;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #ddd;
    padding:10px;
}

.navbar-default {
  background-color: #11a5e0;
  border-color: #0591ca;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #11a5e0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #0591ca;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #11a5e0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #0591ca;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #0591ca;
}
.navbar-default .navbar-toggle {
  border-color: #0591ca;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0591ca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #0591ca;
  }
}
